/* styles/index.module.css */
.heroContainer {
  position: relative;
  height: 100vh;
  width: 100%; /* Ensure full width */
  margin: 0; /* Remove any margins */
  padding: 0; /* Remove any padding */
}

.marginAll8 {
  margin: -8px -8px -8px -8px;
}

.heroImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; /* Ensure full width */
  height: 100%;
  object-fit: cover; /* Make sure the image covers the full container */
}

.heroOverlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.heroText h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.heroText p {
  font-size: 1.125rem;
  margin-bottom: 1.5rem;
}

.heroButton {
  background-color: #3b82f6;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 9999px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.heroButton:hover {
  background-color: #2563eb;
}


.signoutBtn {
  color: white;
  border-radius: 9999px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  cursor: pointer;
}